body {
  background-color: lightblue;
  width: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

div.row {
  display: block;
  text-align: center;
}

textarea {
  margin: 10px;
  resize: none;
  height: 50px;
  width: 100%;
}

textarea#result {
  display: none;
  text-align: center;
  width: 60%;
  height: 35px;
  margin: 0 auto;
  color: red;
}

p {
  margin-left: 43%;
  /*margin: 0 auto;*/
}

button {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid black;
  width: 100px;
  border-radius: 5px;
}
